html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ff6666;
  text-align: center;
}

.logo {
  height: auto;
  max-width: 100%;
  padding-top: 2.5em;

  -webkit-filter: drop-shadow(#000 2px -2px 5px);
  -moz-filter: drop-shadow(#000 2px -2px 5px);
  filter: drop-shadow(#000 2px -2px 5px);
}

.text {
  width: 100%;
  color: #fff;
  font-family: "Poiret One", cursive;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 2.5em 0;

  transition: color 1s ease 0s, background-color 1s ease 0s;
}

.text:hover {
  color: #000;
  background: #fff;
}
